.add-product {
  .save {
    position: absolute;
    bottom: 0px;
    background-color: $main-color;
    color: white;
    margin: 0px;
  }

  span.input-label, .input-label {
    color: $secondary-color1;
    font-weight: bolder;
    text-align: left;
  }
  .quantity{
    input{
      text-align: right;
    }
    select {
      width: 100px;
    }
  }

  .list .item {
    border: none;
    min-height: 48px;
    text-align: left;
    padding: 9px 15px 0;
  }
  h1 {
    font-weight: bolder;
    color: $secondary-color1;
  }
}
