.home{
  background-color: $main-color;
  background-image: url("./../img/fridgy-background.png");
  background-repeat: no-repeat;
  background-size: contain;
  img.logo {
    margin: auto;
    width: 129px;
    display: block;
    margin-top: 108px;
    vertical-align: middle;
  }
  p{
    color: white;
    padding: 13px;
  }
  .icon{
    height: 54px;
    margin: auto;
  }
  .slogan{
    padding: 0px 69px;
    text-align: center;
    font-size: 16px;
    font-family: inherit;
    text-decoration: initial;
  }
  .description{
    margin-top: 36px;
    img{
      opacity: 0.8;
    }
  }
  .options{
    margin-top: 90px;
    .button{
      color: white;
      border: none;
      text-transform: initial;
      margin: 10px;
      white-space: normal;
      height: 67px;
      line-height: 20px;
      font-size: 18px;
      text-align: initial;
      padding: 0 25px;
    }
    .my-fridge{
      background-color: transparentize($secondary-color2, 0.4);
      &:hover{
        box-shadow: 3px 3px 9px $secondary-color2;
        background-color: transparentize($secondary-color2, 0.2);
      }
    }
    .fridges{
      background-color: transparentize($secondary-color1, 0.4);
      &:hover{
        box-shadow: 3px 3px 9px $secondary-color1;
        background-color: transparentize($secondary-color1, 0.2);
      }
    }
  }

  .do-it{
    text-align: center;
    padding: 10px;
  }
}
