.my-fridge{
  .add-product{
    border-color: $main-color;
    background-color: $main-color;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
    i{
      font-size: 2rem;
      margin-top: 0;
    }
  }
  .card {
    padding: 0px;
    box-shadow: 3px 3px 9px $secondary-color2;
    h2{
      color: $main-color;
      font-weight: bolder;
    }
    .rating{
      i{
        color: rgb(247, 192, 111);
      }
    }
  }

  .item {
    h2 {
      color: $secondary-color1;
      font-weight: bolder;
    }
  }
}
