<ion-view view-title="Add Product">
  <ion-content>
    <div class="item item-image">
      <img src="img/library-upload.png" class="upload-food-picture">
    </div>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">¿Qué vas a compartir?</span>
        <input type="text" placeholder="Papas, tomates, jugos" ng-model="newProduct.name">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          ¿En que estado se encuentra?
        </div>
        <select ng-model="newProduct.state">
          <option value="preparado">Preparado</option>
          <option value="crudo">Crudo</option>
          <option value="empacado">Empacado</option>
          <option value="parcialmente abierto">Parcialmente abierto</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label" ng-model="newProduct.quantity">
          ¿Cuántos?
        </div>
        <select ng-model="newProduct.quantity">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <select ng-model="newProduct.unity">
          <option value="libras">Libras</option>
          <option value="kilos">Kilos</option>
          <option value="litros">Litros</option>
          <option value="unidades">Unidades</option>
        </select>
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Más detalles</span>
        <textarea placeholder="Marca fruco, rayado, tipo exportación..." ng-model="newProduct.description"></textarea>
      </label>
    </div>
    <button class="button button-full button-positive" ng-click="addProduct()">
      Guardar
    </button>
  </ion-content>
</ion-view>
