<ion-view view-title="Add Product" class="add-product">
  <ion-content>
    <div class="item item-image">
      <img src="img/library-upload.png" class="upload-food-picture">
    </div>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">¿Qué vas a compartir?</span>
        <input type="text" placeholder="Papas, tomates, jugos" ng-model="newProduct.name">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          ¿En que estado se encuentra?
        </div>
        <select ng-model="newProduct.state">
          <option value="preparado">Preparado</option>
          <option value="crudo">Crudo</option>
          <option value="empacado">Empacado</option>
          <option value="parcialmente abierto">Parcialmente abierto</option>
        </select>
      </label>

      <label class="item item-input item-stacked-label row quantity">
        <span class="input-label col">¿Cuántos?</span>
        <input  class="col " type="number" placeholder="3" ng-model="newProduct.quantity">
        <select ng-model="newProduct.unity" class="col">
          <option value="libras">Libras</option>
          <option value="kilos">Kilos</option>
          <option value="litros">Litros</option>
          <option value="unidades">Unidades</option>
        </select>
      </label>


      <label class="item item-input item-stacked-label">
        <span class="input-label">Más detalles</span>
        <textarea placeholder="Marca fruco, rayado, tipo exportación..." ng-model="newProduct.description"></textarea>
      </label>

      <label class="item item-input item-stacked-label row">
        <span class="input-label col">¿Cuanto pedirás por él?</span>
        <span class="col"> $ </span>
        <input  class="col" type="number" placeholder="1000" ng-model="newProduct.price">
      </label>
    </div>
  </ion-content>
  <button class="button button-full save" ng-click="addProduct()">
    Agregar a mi nevera
  </button>
</ion-view>
