
<h4 class="border-top"><i class="icon ion-images"></i> My Near Fridgies</h4>
<div class="list">
  <a class="item item-thumbnail-left">
    <img src="img/ionic.png">
    <h2>Ionic Framework</h2>
    <p>A mobile development revolution</p>
  </a>
  <a class="item item-thumbnail-left">
    <img src="img/google-material.png">
    <h2>Material Design</h2>
    <p>A visual language of design &amp; innovation</p>
  </a>
  <a class="item item-thumbnail-left">
    <img src="img/logo.png">
    <h2>Ionic Material</h2>
    <p>Their love-child</p>
  </a>
</div>
<div class="code-wrapper">
  <a class="toggle">View Code</a>
  <div class="code">
    &lt;div class="list"&gt; &lt;a class="item item-thumbnail-left"&gt; &lt;img src="img/ionic.png"&gt; &lt;h2&gt;Ionic Framework&lt;/h2&gt; &lt;p&gt;A mobile development revolution&lt;/p&gt; &lt;/a&gt; &lt;a class="item item-thumbnail-left"&gt; &lt;img src="img/google-material.png"&gt; &lt;h2&gt;Material Design&lt;/h2&gt; &lt;p&gt;A visual language of design &amp; innovation&lt;/p&gt; &lt;/a&gt; &lt;a class="item item-thumbnail-left"&gt; &lt;img src="img/logo.png"&gt; &lt;h2&gt;Ionic Material&lt;/h2&gt; &lt;p&gt;Their love-child&lt;/p&gt; &lt;/a&gt; &lt;/div&gt;
  </div>
</div>
