<ion-view view-title="Near Fridges" class="near-fridges">
  <ion-content>
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
      <button class="button button-clear">
        Cancel
      </button>
    </div>

    <ion-list class="">
      <ion-item ng-repeat="fridge in fridges"
                nav-clear
                menu-close
                class="item-icon-right item-avatar"
                ng-click="goToFridge(fridge.id);">
        <img src="img/fridge-icon.jpg">
        <h2>{{fridge.name}}</h2>
        <div class="rating">
          <i class="ion-star" ng-show="fridge.rating > 0"></i>
          <i class="ion-star" ng-show="fridge.rating > 1"></i>
          <i class="ion-star" ng-show="fridge.rating > 2"></i>
          <i class="ion-star" ng-show="fridge.rating > 3"></i>
          <i class="ion-star" ng-show="fridge.rating > 4"></i>
        </div>
        <p>{{fridge.address}}</p>
        <i class="icon ion-forward"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
